/* reset */


/*----------------Index.html----*/
/* mobile first */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* estilos del body*/

 .body-miproye{
    background-color: rgb(255, 242, 242);
 }


 /* estilos de header */

 .header-miproye{
    display: none;
 }

 /* estilos del main */

 .main-miproye{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
 }

 .main-miproye h2{
    color: rgb(13, 143, 143);
 }

 .main-miproye img{
    width: 100%;
}

 .main-miproye p{
    margin-top: 10px;
    text-align: center;
 }


 /* estilos de section */

.info-dioses{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.info-dioses p{
    text-align: center;
    margin-top: 10px;
}


 /* estilos generales del footer */

.footer-miproye{
    text-align: center;
}

.footer-miproye h4{
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-miproye a{
    text-decoration: none;
}
 .imagen-logo{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.insta{
     width: 40px;
     height: 40px;
     margin-right: 20px;
}

.facebook{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.youtube{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

 /*------------------------------ para desktop --------------------------------------------------------*/

  /* estilos del header*/

@media screen and (min-width:717px) {
/* tuve que dejar el min en 717px, porque si lo dejaba en 600px se rompia la fluidez y me rompi la cabeza intentando ver porque y no pude, pero asi se corrigio */

   
        
 .header-miproye{
     display: flex;
     justify-content: space-between;
     background-color: rgb(146, 217, 229);
     padding: 10px 30px;     
 }

 
 .header-miproye h1{
    font-size: 2.8rem;
 }


 header nav ul{
    display: flex;
    list-style: none;
 }
  
.header-miproye nav ul li{
     text-decoration: none;
     margin-right: 10px;
     background-color: whitesmoke;
     padding: 8px;
     margin-top: 5px;
     box-shadow: 3px 3px 2px;
     border-radius: 50px;
     transition: 2seg; 
     font-size: 1rem;   
     
 }

    .header-miproye nav ul li:hover{
    background-color: rgb(125, 226, 237);
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black;

 }
    
    .header-miproye nav ul li a{
    list-style:none;
    text-decoration: none;
    color: black;
    text-align: right;
 }

  .barra-navegacion{
    display: none;
   }


 
 /*-------------- estilos de main generales-------------- */
 
 /* empieza grid */

 .main-miproye{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr 2fr ;
    grid-template-areas:
    "carousel h2"
    "carousel p"
    "carousel h2-dos"
    "carousel p-dos";
    justify-content: center;
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1rem;
 }

 /* estilos de main especificos */
  
 main #carousel{
    grid-area: carousel;
    width: 60%;

 }

.main-miproye h2{
    grid-area: h2;
    font-size: 2rem;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    
 }

.main-miproye p{
    grid-area: p;
    font-size: 1rem;
    text-align: center; 
    margin-bottom: 2.2rem;
 }

.main-miproye .h2-dos{
    grid-area: h2-dos;
 }

.main-miproye .p-dos{
    grid-area: p-dos;
 }

/* hasta aca va la parte de grid */


  /* divisor */
  .divisor{
    background-color: orange;
    margin-top: 5rem;
    height: 1rem;
  }
/* section */


.info-dioses{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
 }

.info-dioses p{
    width: 800px;
 }


/* estilos formulario */

.consulta-astro{
    display:flex;
    flex-direction: column;
    align-content: center;
    gap: 50px;
    width: 56.25rem;
 }

.reserva{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    text-align: center; 
 }

.reserva fieldset{
    padding: 20px;
    background-color: aquamarine;

 }

.nombre input{
    width: 200px;
    
 }


.correo input{
    width: 200px;
 }


.mensaje input{
    font-size: 1rem;
    width: 200px;
    height: 150px;
    
    
 }

.enviar{
    width: 100px;
 }

.restablecer{
    width: 100px;
 }


/* footer */

.footer-miproye{
    background-color:rgb(146, 217, 229);
    text-align: center;
 }  

.footer-miproye a{
    text-decoration: none;
 }

 .imagen-logo{

     margin-top: 10px;
     margin-bottom: 10px;
     align-items: center;
 }

 .insta{
      width: 30px;
      height: 30px;
      margin-right: 10px;
 }

 .facebook{
     width: 30px;
     height: 30px;
     margin-right: 10px;
 }

 .youtube{
     width: 30px;
     height: 30px;
     margin-right: 10px;
 }
  
}  



/* -------------------------------------------------estilos de sobremi.html-------------------------------------------------------------------- */

/*reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ----------------mobile first--------------------- */

/* estilos de listas */
.lista1{
    display: flex;
    flex-direction:row ;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: aquamarine;
    

}

.lista1 a{
     text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px black;
    border-radius: 50px;
    padding: 5px ;
    background-color: aliceblue;
}

.titulo-sobremi{
   display: flex;
   justify-content: center;
   padding: 10px;
   background-color: rgb(249, 103, 24);
}

.sobremi2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sobremi3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sobremi3 p{
    margin-top: 1.2rem;
    margin-left: 1rem;

}

.sobremi3 img{
    margin-top: 20px;
    width: 100%;
}
span{
    font-weight: bold;
    font-size: 1.1rem;
}

/* -------------------------para desktop-------------------------- */

@media screen and (min-width:600px) {
    
    .sobremi2{
       
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sobremi2 p{
        margin-top: 10px;
        width: 800px;
    }
    
    .sobremi3{
       
        margin-top: 40px;
        margin-bottom: 40px;
    }

    
    .sobremi3 img{
        margin-top: 20px;
    }

    .sobremi3 p{
        margin-top: 20px;
        width: 800px;
        font-weight: b;
    }

    span{
        font-weight: bold;
    }


/*-------------------grid----------------*/
    .sobremi2{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "h1-titulo "
        "p-titulo ";
        justify-content: center;
        justify-items: center;
    }

    .sobremi2 .h1-titulo{
        grid-area:h1-titulo ;
     }

     .sobremi2 .p-titulo{
        grid-area: p-titulo;
     }


    .planetas-mios{
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "p-sun imagen-sun"
        "p-venus imagen-venus"
        "p-jupiter imagen-jupiter"
        "p-pluton imagen-pluton" ;
        justify-items: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 1rem;
        gap: 2.5rem;
     }

     .sobremi3 .imagen-pluton{
        grid-area: imagen-pluton;
        width: 40%;

     }

     .sobremi3 .p-pluton{
        text-align: center;
        grid-area: p-pluton;
     }
    
     .sobremi3 .p-venus{
        text-align: center;
        grid-area: p-venus;
       
     }

     .sobremi3 .imagen-venus{

        grid-area: imagen-venus;
        width: 40%;
    }

    .sobremi3 .imagen-jupiter{

        grid-area: imagen-jupiter;
        width: 40%;
    }

    .sobremi3 .p-jupiter{
        text-align: center;
        grid-area: p-jupiter;
     }

     .sobremi3 .imagen-sun{

        grid-area: imagen-sun;
        width: 40%;
    }

    .sobremi3 .p-sun{
        text-align: center;
        grid-area: p-sun;
     }
}
  /* --------------Grid de sobremi.html------------------*/