/* reset */


/*----------------Index.html----*/
/* mobile first */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* estilos del body*/

 body{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }

 /* estilos de header */

 .header-miproye{
    display: none;
 }

 .barra-navegacion {
    background-color:rgb(146, 217, 229);
}

.barra-navegacion li{
    font-weight:bold ;
    font-family: 'Dosis', sans-serif;
}
.barra-navegacion .navbar-brand{
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive; ;
}


 /* estilos del main */

 .main-miproye{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
 }

 .main-miproye h2{
    margin-top: 2rem;
    color: black;
    font-family: 'Rubik', sans-serif;

 }

 .main-miproye img{
    width: 100%;
}

 .main-miproye p{
    margin-top: 1rem;
    text-align: center;
 }


 /* estilos de section */

.info-dioses{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.info-dioses h3{
    font-family: 'Rubik', sans-serif;
    color: black;
    font-family: 'Rubik', sans-serif;

}

.info-dioses div button{
    font-family: 'Signika Negative', sans-serif;
    color: white;
    box-shadow: 0.3rem 0.3rem 0.2rem;
    border-radius: 4rem;
    transition: 2seg; 

}

.info-dioses p{
    text-align: center;
    margin-top: 1rem,;
}


 /* estilos generales del footer */

.footer-miproye{
    text-align: center;
    background-color:  rgb(146, 217, 229);
    width: 100%;
}

.footer-miproye .redes{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.footer-miproye .deerchos{
    font-family: 'Dosis', sans-serif;
    color: black;
    font-size: 1rem;
    margin-bottom: 1.2rem;
}



.footer-miproye a{
    text-decoration: none;
}
 .imagen-logo{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    align-items: center;
}

.insta{
     width: 2.2rem;
     height: 2.2rem;
     margin-right: 1rem;
}

.facebook{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}

.youtube{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}

 /*------------------------------ para desktop --------------------------------------------------------*/

  /* estilos del header*/

@media screen and (min-width:717px) {
/* tuve que dejar el min en 717px, porque si lo dejaba en 600px se rompia la fluidez y me rompi la cabeza intentando ver porque y no pude, pero asi se corrigio */

 
        
 .header-miproye{
     display: flex;
     justify-content: space-between;
     background-color: rgb(146, 217, 229);
     padding: 1rem 2.2rem;     
 }

 
 .header-miproye h1{
    font-size: 2.8rem;
    font-family: 'Pacifico', cursive;
    color: black;

 }


 header nav ul{
    display: flex;
    list-style: none;
 }
  
.header-miproye nav ul li{
     text-decoration: none;
     margin-right: 1rem;
     background-color: whitesmoke;
     padding: 0.6rem;
     margin-top: 0.5rem;
     box-shadow: 0.3rem 0.3rem 0.2rem;
     border-radius: 3rem;
     transition: 2seg; 
     font-size: 1rem;  
     font-family: 'Signika Negative', sans-serif;
 
     
 }

    .header-miproye nav ul li:hover{
    background-color: rgb(125, 226, 237);
    transform: scale(0.9);
    box-shadow: 0.1rem 0.1rem 0.3rem black;

 }
    
    .header-miproye nav ul li a{
    list-style:none;
    text-decoration: none;
    color: black;
    text-align: right;
 }

  .barra-navegacion{
    display: none;
   }


 
 /*-------------- estilos de main generales-------------- */
 
 /* empieza grid */

 .main-miproye{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr 2fr ;
    grid-template-areas:
    "carousel h2"
    "carousel p"
    "carousel h2-dos"
    "carousel p-dos";
    justify-content: center;
    justify-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 1rem;
 }

 /* estilos de main especificos */
  
 main #carousel{
    grid-area: carousel;
    width: 60%;

 }

.main-miproye h2{
    grid-area: h2;
    font-size: 2rem;
    margin-top: 2.2rem;
    margin-bottom: 1rem;
    
 }

.main-miproye p{
    grid-area: p;
    font-size: 1rem;
    text-align: center; 
    margin-bottom: 2.2rem;
 }

.main-miproye .h2-dos{
    grid-area: h2-dos;
 }

.main-miproye .p-dos{
    grid-area: p-dos;
 }

/* hasta aca va la parte de grid */


  /* divisor */


  .divisor{
    background-color: orange;
    margin-top: 5rem;
    height: 1rem;
  }


/* section */


.info-dioses{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    gap: 20px;
 }

.info-dioses p{
    width: 60rem;
 }



/* footer */

.footer-miproye{
    background-color:rgb(146, 217, 229);
    text-align: center;
    padding: 0.5rem;
    width: 100%;
 }  

 

.footer-miproye a{
    text-decoration: none;
 }


 .imagen-logo{
     margin-top: 1rem;
     margin-bottom: 1rem;
     align-items: center;
    
 }

 .insta{
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1rem;
 }

 .facebook{
     width: 2.2rem;
     height: 2.2rem;
     margin-right: 1rem;
 }

 .youtube{
     width: 2rem;
     height: 2rem;
     margin-right: 1rem;
 }
  
}  



/* -------------------------------------------------estilos de sobremi.html-------------------------------------------------------------------- */

/*reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ----------------mobile first--------------------- */

/* estilos de listas */

.barranavegacion {
    background-color:rgb(146, 217, 229);
}

.barranavegacion li{
    font-weight:bold ;
    font-family:'Dosis', sans-serif;
}
.barranavegacion .navbar-brand{
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive; ;
}

.titulo-sobremi{
   display: flex;
   justify-content: center;
   padding: 1rem;
   background-color: rgb(249, 103, 24);
}

.sobremi2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sobremi2 img{
    text-align: center;
    width: 90%;
}
.sobremi3{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sobremi3 p{
    margin-top: 1.2rem;
    margin-left: 1rem;

}

.sobremi3 img{
    margin-top: 1.2rem;
    width: 70%;
}
span{
    font-weight: bold;
    font-size: 1.1rem;
}


/* -------------------------para desktop-------------------------- */

@media screen and (min-width:600px) {
    

    .barranavegacion {
        background-color:rgb(146, 217, 229);
    }

    .barranavegacion li{
        font-weight:bold ;
        font-family: 'Dosis', sans-serif;
    }
    .barranavegacion .navbar-brand{
        font-size: 2.5rem;
        font-family: 'Pacifico', cursive; ;
    }
    .sobremi2{
       
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .sobremi2 p{
        margin-top: 1rem;
        margin-bottom: 5rem;
        width: 60rem;
        
    }

    .h2-planetas{
        background-color:rgb(146, 217, 229);

    }
    
    .sobremi2 img{
        text-align: center;
        width: 50rem;
    }
    .sobremi3{
       
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    
    .sobremi3 img{
        margin-top: 1.2rem;
    }

    .sobremi3 p{
        margin-top: 1.2rem;
        width: 60rem;
        font-weight: b;
    }

    span{
        font-weight: bold;
    }



    .sobremi2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }

    .sobremi2 p{
        margin-top: 2rem;
        margin-bottom: 3rem;
        width: 60rem;
    }
/*-------------------grid----------------*/
    .planetas-mios{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "p-sun imagen-sun"
        "imagen-venus p-venus "
        "p-jupiter imagen-jupiter"
        "imagen-pluton p-pluton " ;
        justify-items: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 1rem;
        gap: 2.5rem;
     }

     .sobremi3 .imagen-pluton{
        grid-area: imagen-pluton;
        width: 30%;
        margin-left: 5rem;


     }

     .sobremi3 .p-pluton{
        text-align: center;
        grid-area: p-pluton;
        width: 35rem;
        margin-right: 5rem;


     }
    
     .sobremi3 .p-venus{
        text-align: center;
        grid-area: p-venus;
        width: 35rem;
        margin-right: 5rem;

       
     }

     .sobremi3 .imagen-venus{

        grid-area: imagen-venus;
        width: 30%;
        margin-left: 5rem;

    }

    .sobremi3 .imagen-jupiter{

        grid-area: imagen-jupiter;
        width: 30%;
        margin-right: 5rem;

    }

    .sobremi3 .p-jupiter{
        text-align: center;
        grid-area: p-jupiter;
        width: 35rem;
        margin-left: 5rem;

     }

     .sobremi3 .imagen-sun{

        grid-area: imagen-sun;
        width: 30%;
        margin-right: 5rem;

    }

    .sobremi3 .p-sun{
        text-align: center;
        grid-area: p-sun;
        width: 35rem;
        margin-left: 5rem;

        
     }

     .footer-miproye{
        background-color:rgb(146, 217, 229);
        text-align: center;
        padding: 0.5rem;
        width: 100%;
     }  
    
}
/*-----------un poco de estructura para el resto de los html, lo basico basico------------------- */



main h1{
    text-align: center;
}
main h2{
    text-align: center;
}
main p{
    text-align: center;
    width: 30rem;
}

footer{
    text-align: center;
    margin-top: 2rem;
}